# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker


  #This is the trigger for when this pipeline gets automatically triggered
trigger:
  branches:
    include:
      - master #Any commit to the main branch

resources:
  - repo: self #Private Repository

variables:
  tag: "$(Build.BuildId)" #Tagging our image uniquely with the build agent id
  containerRegistry: 'AzureContainerRegistry' #Container Registry Connections (Gave an alias name in service connections on Azure Devops)
  sourceBranchName: "$(Build.SourceBranchName)" #Source Branch Name
  dockerFilePath: "Dockerfile" #Docker File to build from
  repository: 'test-user-app' #Repository Name in ACR
  vmImageName: 'ubuntu-latest'
  sourceDirectory: "$(Build.SourcesDirectory)"


  #Defining the stages of our build/deploy flow
stages:
 - stage: Build
   displayName: Build stage
   jobs:
   - job: Build
     displayName: Build
     pool: 
      vmImage: $(vmImageName)
     steps:

      -  script: | 
          docker run --privileged -rm tonistiigi/binfmt --install all 
         displayName: Enable cross platform
      -  script: |
          docker buildx create --driver docker-container --use
          docker buildx inspect --bootstrap
         displayName: Enable BuildX
      - task: Docker@2
        displayName: ACR Login
        inputs:
          containerRegistry: $(containerRegistry)
          command: login
      - script: | 
         docker buildx build  --platform linux/amd64,linux/arm64 --provenance=false --sbom=false -t aayushregistry.azurecr.io/test-user-app:889  --push .
        displayName: Docker build
      - script: |
           echo "Pushed image:"
           echo "aayushregistry.azurecr.io/test-user-app:102"
        displayName: Output Image Name    
      #   inputs: 
      #     containerRegistry: $(containerRegistry)
      #     command: build
      #     Dockerfile: $(dockerFilePath)
      #     repository: $(repository)
      #     arguments: --platform linux/amd64
      #     tags: | 
      #         $(tag)
      #         latest
      # -  task: Docker@2
      #    displayName: Docker Push
      #    inputs: 
      #     containerRegistry:  $(containerRegistry)
      #     repository: $(repository)
      #     command: push
      #     tags: |
      #         $(tag)
      #         latest
 - stage: Deploy
   displayName: Deploy Stage
   dependsOn: Build

   jobs:
    - deployment: deploy
      displayName: Deploying
      pool:
        vmImage: $(vmImageName)
      environment: dev
      strategy:
        rolling:
          deploy:
            steps:
              - task: KubernetesManifest@1
                displayName: Kubernetes Deployment
                inputs:
                  action: deploy
                  kubernetesServiceConnection: 'k8Conenctions'
                  namespace: default
                  manifests: "$(sourceDirectory)/deployment.yaml"
                  containers: "$(containerRegistry)/$(repository):$(tag)"