# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker


  #This is the trigger for when this pipeline gets automatically triggered
trigger:
  branches:
    include:
      - master #Any commit to the main branch

resources:
  - repo: self #Private Repository

variables:
  tag: "$(Build.BuildId)" #Tagging our image uniquely with the build agent id
  containerRegistry: AzureContainerRegistry #Container Registry Connections (Gave an alias name in service connections on Azure Devops)
  sourceBranchName: "$(Build.SourceBranchName)" #Source Branch Name
  dockerFilePath: "DockerFile" #Docker File to build from
  repository: test-user-app #Repository Name in ACR
  vmImageName: ubuntu-latest
  sourceDirectory: "$(Build.SourcesDirectory)"


  #Defining the stages of our build/deploy flow
stages:
 - stage: Build
   displayName: Build stage
   jobs:
   - job: Build
     displayName: Build
     pool: $(vmImageName)
     steps:
      - task: Docker@2
        displayName: Build and push an image to ACR
        inputs:
          command: buildAndPush
          containerRegistry: $(containerRegistry)
          repository: $(repository)
          Dockerfile: $(dockerFilePath)
          tags: |
              $(tag)
 - stage: Deploy
   displayName: Deploy Stage
   dependsOn: Build

   jobs:
    - deployment: deploy
      displayName: Deploying
      pool:
        vmImage: $(vmImageName)
      environment: dev
      strategy:
        rolling:
          deploy:
            steps:
              - task: KubernetesManifest@1
                displayName: Kubernetes Deployment
                inputs:
                  action: deploy
                  kubernetesServiceConnection: 'k8Conenctions'
                  namespace: default
                  manifests: "$(sourceDirectory)/deployment.yaml"
                  containers: "$(containerRegistry)/$(repository):$(tag)"